.custom-navbar-bg{
	background-color: SlateGrey!important;
}

.nav-link{
	color: white;
}
.navbar-brand{
	color: white;
}

body{
	background-color: PowderBlue !important;
}

#homeh1{
	margin-left: 20px;
	margin-top: 20px;
}

p{
	margin-left: 20px;
	margin-top: 20px;
}
