<!DOCTYPE html>
<html>
    <head>
        <title>State Facts</title>
    </head>
	{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->

    <body id="body1">
		<h1>The EIA's report on over 2000 electric utilities in 2017</h1>
       
	   <p>This data is from 2017 report where it covers approximately 2000 electric utilities with their demand, customer, revenue, and etc report.</p>
	   <p> The source of the electricity.json file comes from The U.S. Energy Information Administration.
    They collect, analyze, and disseminate independent and impartial energy information.
    They use the data to provide policy-independent data, forecasts, and analyses to promote sound policy making,
    efficient markets, and public understanding regarding energy, and its interaction with the economy and the environment.</p>
	<br>
	<p>In order to calculate and regulate this data each year,  </p>
<!--https://www.energy.gov/articles/what-eia-and-what-does-it-do
https://www.eia.gov/electricity/data/eia861/-->
    </body>
</html>
{% endblock %}

The EIA uses standardized surveys (i.e., forms) to collect information. These surveys are approved every three years by the U.S. Office of Management and Budget. Stated purposes of the PRA are to minimize the reporting burden on the public and maximize the utility of the information collected.
 Consequently, EIA occasionally modifies or discontinues its surveys. EIA datasets are described in the section "EIA Domestic Data." Currently active EIA surveys are described in Appendix A.