	{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->

		<h1 id="homeh1">The EIA's report on over 2000 electric utilities around the U.S. in 2017</h1>
       
		<p>The dataset from <cite><a href="https://corgis-edu.github.io/corgis/json/electricity/">Corgis Datasets</a></cite> is from a 2017 EIA report where it covers a report on the demand, customer, revenue, and etc., of approximately 2000 electrical utilities</p>
		<p> The source of the electricity.json file comes from <cite><a href="https://www.eia.gov/electricity/data/eia861/"></cite>The U.S. Energy Information Administration</a>.
        They collect, analyze, and disseminate independent and impartial energy information.
        They use the data to provide policy-independent data, forecasts, and analyses to promote sound policy making,
        efficient markets, and public understanding regarding energy, and its interaction with the economy and the environment.</p>
		<br>
		<p>According to the EIA website, in order to calculate and regulate their data each year, "the EIA requires electric utilities to report and complete standardized surveys (i.e., forms) to collect information."
		<br>
	    They also use statistical modeling, standardized data collection forms and processing methods, 
        along with third-party information in order to regulate their data. <cite><a href="https://www.energy.gov/articles/what-eia-and-what-does-it-do">(Source)</a></cite></p>
		<br>
		<p>The information that this file contains are the names and location of electircal utilities. The amount of customers, sales, and revenue of electricity from each utility.
		It also contains information on where the electricity goes to such as for industrial, residencial and commercial uses. The generation and loss of electricity is also included,
		along with a difference in electricity demand for each utility in the winter and summer. This file contains a Transportation section which does not contain any data and 
		is mostly likely because most utilities do not offer transportation of electricity and therefore cannot gain revenue from it. This data is marked as 0.0 or deleted.</p>

{% endblock %}

